header{
  background-color: rgb(195,211,236);
}

footer{
  background-color: ghostwhite;
}

h1{
  font-size: 2em;
  height: 50%;
  width: 50%;
  font-family: cursive;
  text-align: center;
  color: rgb(50,117,81);
  margin-bottom: 20px; /* Marge extérieur */
}

.papy{
  height: 30%;
  width: 25%;
  border: 10px outset rgb(176,52,48);
  /* border-right: 2px solid rgb(227,153,68); */
  border-radius: 70% 70% 70% 70%;
  margin-bottom: 10px; /* Marge extérieur */
  margin-top: 20px; /* Marge extérieur */
  box-shadow: 5px 5px 5px #91C3FF;
}

h2{
  font-size: 1.5em;
  text-align: center;
  font-family: cursive;
  color: rgb(85,91,87);
  margin-bottom: 2%; /* Marge extérieur */
}

ul, li{
  font-size: 1.1em;
  font-family: monospace;
  text-align: center;
  text-decoration: underline;
  list-style: none;
}

body{
  height: 100%;
  width: 100%;
}

#chat{
  border: 1px black solid;
  margin:auto;
  height: 100%;
  width: 80%;
  padding: 12px; /* Marge intérieur */
  margin-top: 20px; /* Marge extérieur */
  margin-bottom: 20px; /* Marge extérieur */
}

#form{
  border: 1px black solid;
  margin:auto;
  height: 100%;
  width: 80%;
  padding: 12px; /* Marge intérieur */
  margin-top: 20px; /* Marge extérieur */
  margin-bottom: 40px; /* Marge extérieur */
}

/* Utilisation de Flexbox */
#conteneur{
  display: flex;
  justify-content: space-around;
}

/* Utilisation de Flexbox */
#conteneur_header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input_field{
  margin:auto;
  height: 100%;
  width: 100%;
  padding: 12px; /* Marge intérieur */
  margin-top: 20px; /* Marge extérieur */
  margin-bottom: 20px; /* Marge extérieur */
}

.button {
background: #016ABC;
color: #fff;
border: 1px solid #eee;
border-radius: 30px;
box-shadow: 5px 5px 5px #91C3FF;
height: 70%;
width: 100%;
}

/* Add Google Map */

/* Set the size of the div element that contains the map */
#map {
  height: 30em;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  border-radius: 30px;
  box-shadow: 5px 5px 5px #91C3FF;
}

/* Add Google Map */
